<a href="https://colab.research.google.com/github/vishvadesai9/Book_Recommendation_System/blob/main/book_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.7.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2022.5.18.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
!gdown 'https://drive.google.com/uc?id=1TLmSvzHvTLLLMjMoQdkx6pBWon-4bli7'

Downloading...
From: https://drive.google.com/uc?id=1TLmSvzHvTLLLMjMoQdkx6pBWon-4bli7
To: /content/goodreads_book_works.json.gz
74.9MB [00:00, 81.6MB/s]

In [3]:
!gdown 'https://drive.google.com/uc?id=19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC'

Downloading...
From: https://drive.google.com/uc?id=19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC
To: /content/goodreads_book_authors.json.gz
100% 17.9M/17.9M [00:00<00:00, 44.4MB/s]

In [4]:
!gdown 'https://drive.google.com/uc?id=1op8D4e5BaxU2JcPUgxM3ZqrodajryFBb'

Downloading...
From: https://drive.google.com/uc?id=1op8D4e5BaxU2JcPUgxM3ZqrodajryFBb
To: /content/goodreads_book_series.json.gz
100% 28.3M/28.3M [00:00<00:00, 30.3MB/s]

In [5]:
!gdown 'https://drive.google.com/uc?id=1LXpK1UfqtP89H1tYy0pBGHjYk8IhigUK'

Downloading...
From: https://drive.google.com/uc?id=1LXpK1UfqtP89H1tYy0pBGHjYk8IhigUK
To: /content/goodreads_books.json.gz
100% 2.08G/2.08G [00:32<00:00, 64.6MB/s]

In [6]:
!gdown 'https://drive.google.com/uc?id=1CHTAaNwyzvbi1TR08MJrJ03BxA266Yxr'

Downloading...
From: https://drive.google.com/uc?id=1CHTAaNwyzvbi1TR08MJrJ03BxA266Yxr
To: /content/book_id_map.csv
100% 37.8M/37.8M [00:00<00:00, 52.6MB/s]

In [7]:
!gdown 'https://drive.google.com/uc?id=15ax-h0Oi_Oyee8gY_aAQN6odoijmiz6Q'

Downloading...
From: https://drive.google.com/uc?id=15ax-h0Oi_Oyee8gY_aAQN6odoijmiz6Q
To: /content/user_id_map.csv
100% 34.9M/34.9M [00:00<00:00, 73.3MB/s]

In [8]:
!gdown 'https://drive.google.com/uc?id=1zmylV7XW2dfQVCLeg1LbllfQtHD2KUon'

Downloading...
From: https://drive.google.com/uc?id=1zmylV7XW2dfQVCLeg1LbllfQtHD2KUon
To: /content/goodreads_interactions.csv
100% 4.32G/4.32G [00:33<00:00, 131MB/s]

In [9]:
!gdown 'https://drive.google.com/uc?id=1ah0_KpUterVi-AHxJ03iKD6O0NfbK0md'

Downloading...
From: https://drive.google.com/uc?id=1ah0_KpUterVi-AHxJ03iKD6O0NfbK0md
To: /content/goodreads_book_genres_initial.json.gz
100% 24.3M/24.3M [00:00<00:00, 44.6MB/s]

In [10]:
!gdown 'https://drive.google.com/uc?id=1pQnXa7DWLdeUpvUFsKusYzwbA5CAAZx7'

Downloading...
From: https://drive.google.com/uc?id=1pQnXa7DWLdeUpvUFsKusYzwbA5CAAZx7
To: /content/goodreads_reviews_dedup.json.gz
100% 5.34G/5.34G [00:53<00:00, 100MB/s]

In [11]:
import pandas as pd
import numpy as np

In [12]:
def load_data(file_name, head = 500):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            if (head is not None) and (count > head):
                break
    return data

LOAD BOOKS DATA

In [37]:
import gzip
import json
import re
import os
import sys
books = load_data(os.path.join('goodreads_books.json.gz'))
books[0]

{'asin': '',
 'authors': [{'author_id': '604031', 'role': ''}],
 'average_rating': '4.00',
 'book_id': '5333265',
 'country_code': 'US',
 'description': '',
 'edition_information': '',
 'format': 'Paperback',
 'image_url': 'https://images.gr-assets.com/books/1310220028m/5333265.jpg',
 'is_ebook': 'false',
 'isbn': '0312853122',
 'isbn13': '9780312853129',
 'kindle_asin': '',
 'language_code': '',
 'link': 'https://www.goodreads.com/book/show/5333265-w-c-fields',
 'num_pages': '256',
 'popular_shelves': [{'count': '3', 'name': 'to-read'},
  {'count': '1', 'name': 'p'},
  {'count': '1', 'name': 'collection'},
  {'count': '1', 'name': 'w-c-fields'},
  {'count': '1', 'name': 'biography'}],
 'publication_day': '1',
 'publication_month': '9',
 'publication_year': '1984',
 'publisher': "St. Martin's Press",
 'ratings_count': '3',
 'series': [],
 'similar_books': [],
 'text_reviews_count': '1',
 'title': 'W.C. Fields: A Life on Film',
 'title_without_series': 'W.C. Fields: A Life on Film',
 'url': 'https://www.goodreads.com/book/show/5333265-w-c-fields',
 'work_id': '5400751'}

EXTRACT FEATURES FROM BOOKS DATA

In [14]:
rating=[]
book_id=[]
title=[]
pub_year=[]
description=[]
author_id=[]
format= []
country = []
e_book =[]
lang=[]
publisher = []
for i in books:
  for j in i:
    if j == 'average_rating':
      rating.append(float(i[j]))
    if j == 'book_id':
      book_id.append(int(i[j]))
    if j == 'description':
      description.append(i[j])
    if j == 'title':
      title.append(i[j])
    if j == 'format':
      format.append(i[j])
    if j == 'is_ebook':
      e_book.append(i[j])
    if j == 'language_code':
      lang.append(i[j])
    if j == 'publisher':
      publisher.append(i[j])
    if j == 'authors':
      for k in i[j]:
        for m in k:
          if m == 'author_id':
            author_id.append(int(k[m]))

LOAD AUTHORS DATA

In [51]:
authors = load_data(os.path.join('goodreads_book_authors.json.gz'))
authors[:5]

[{'author_id': '604031',
  'average_rating': '3.98',
  'name': 'Ronald J. Fields',
  'ratings_count': '49',
  'text_reviews_count': '7'},
 {'author_id': '626222',
  'average_rating': '4.08',
  'name': 'Anita Diamant',
  'ratings_count': '546796',
  'text_reviews_count': '28716'},
 {'author_id': '10333',
  'average_rating': '3.92',
  'name': 'Barbara Hambly',
  'ratings_count': '122118',
  'text_reviews_count': '5075'},
 {'author_id': '9212',
  'average_rating': '3.68',
  'name': 'Jennifer Weiner',
  'ratings_count': '888522',
  'text_reviews_count': '36262'},
 {'author_id': '149918',
  'average_rating': '3.82',
  'name': 'Nigel Pennick',
  'ratings_count': '1740',
  'text_reviews_count': '96'}]

EXTARCT AUTHOR FEATURES

In [16]:
author_rating=[]
for i in authors:
  for j in i:
    if j == 'average_rating':
      author_rating.append(float(i[j]))
len(author_rating)

501

In [17]:
author_rating=[]
author_name=[]
for i in authors:
  for j in i:
    if j == 'average_rating':
      author_rating.append(float(i[j]))
    if j == 'name':
      author_name.append(i[j])
    if j == 'description':
      description.append(i[j])
    if j == 'title':
      title.append(i[j])

CREATE DATAFRAME

In [18]:
df = pd.DataFrame(list(zip(book_id,title,description,rating,author_id,author_rating,lang,format)),columns=['book_id','title','description','rating','author_id','author_rating','language','format'])
df

,book_id,title,description,rating,author_id,author_rating,language,format
0,5333265,W.C. Fields: A Life on Film,,4.00,604031,3.98,,Paperback
1,1333909,Good Harbor,"Anita Diamant's international bestseller ""The ...",3.23,626222,4.08,,Audio CD
2,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",Omnibus book club edition containing the Ladie...,4.03,10333,3.92,eng,Hardcover
3,6066819,Best Friends Forever,Addie Downs and Valerie Adler were eight when ...,3.49,9212,3.68,eng,Hardcover
4,287140,Runic Astrology: Starcraft and Timekeeping in ...,,3.40,149918,3.82,,
...,...,...,...,...,...,...,...,...
496,12158822,La acabadora,Siguiendo una costumbre sarda cuyos origenes s...,3.89,117366,2.71,spa,Paperback
497,2864845,Akhir Sebuah Mimpi,,3.67,3088831,3.87,,
498,802870,Irvin Cobb at His Best,Compilation of the Kentucky humorist's best co...,4.00,4371642,4.27,,
499,4608421,"Stone Gods, Wooden Elephants",Lured to an ancient lost Khmer city in the jun...,3.00,281810,4.19,,Paperback
500,802872,Draconomicon: The Book of Dragons,The Book of Dragons\nThis title takes a compre...,4.04,8363,4.28,eng,

EXTRACT GENRE

In [52]:
genre = load_data(os.path.join('goodreads_book_genres_initial.json.gz'))
genre[:10]

[{'book_id': '5333265',
  'genres': {'history, historical fiction, biography': 1}},
 {'book_id': '1333909',
  'genres': {'fiction': 219, 'history, historical fiction, biography': 5}},
 {'book_id': '7327624',
  'genres': {'fantasy, paranormal': 31,
   'fiction': 8,
   'mystery, thriller, crime': 1,
   'poetry': 1}},
 {'book_id': '6066819',
  'genres': {'fiction': 555, 'mystery, thriller, crime': 10, 'romance': 23}},
 {'book_id': '287140', 'genres': {'non-fiction': 3}},
 {'book_id': '287141',
  'genres': {'children': 6,
   'fantasy, paranormal': 1,
   'fiction': 1,
   'history, historical fiction, biography': 9,
   'young-adult': 1}},
 {'book_id': '378460', 'genres': {'fiction': 2}},
 {'book_id': '6066812',
  'genres': {'children': 16,
   'fantasy, paranormal': 32,
   'fiction': 7,
   'young-adult': 8}},
 {'book_id': '34883016', 'genres': {'romance': 3}},
 {'book_id': '287149',
  'genres': {'history, historical fiction, biography': 1, 'non-fiction': 24}}]

In [20]:
d=dict()

df['genre']=""
def custom(id):
  for i in genre:
    for j in i['genres']: 
      if int(i['book_id']) == id:
        return j.split(',')[0]
    
    
        
df['genre'] = df.apply(lambda x: custom(x['book_id']),axis=1)

df

,book_id,title,description,rating,author_id,author_rating,language,format,genre
0,5333265,W.C. Fields: A Life on Film,,4.00,604031,3.98,,Paperback,history
1,1333909,Good Harbor,"Anita Diamant's international bestseller ""The ...",3.23,626222,4.08,,Audio CD,fiction
2,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",Omnibus book club edition containing the Ladie...,4.03,10333,3.92,eng,Hardcover,fantasy
3,6066819,Best Friends Forever,Addie Downs and Valerie Adler were eight when ...,3.49,9212,3.68,eng,Hardcover,fiction
4,287140,Runic Astrology: Starcraft and Timekeeping in ...,,3.40,149918,3.82,,,non-fiction
...,...,...,...,...,...,...,...,...,...
496,12158822,La acabadora,Siguiendo una costumbre sarda cuyos origenes s...,3.89,117366,2.71,spa,Paperback,fiction
497,2864845,Akhir Sebuah Mimpi,,3.67,3088831,3.87,,,None
498,802870,Irvin Cobb at His Best,Compilation of the Kentucky humorist's best co...,4.00,4371642,4.27,,,fiction
499,4608421,"Stone Gods, Wooden Elephants",Lured to an ancient lost Khmer city in the jun...,3.00,281810,4.19,,Paperback,None
500,802872,Draconomicon: The Book of Dragons,The Book of Dragons\nThis title takes a compre...,4.04,8363,4.28,eng,,fantasy

In [21]:
df['genre'].unique()

array(['history', 'fiction', 'fantasy', 'non-fiction', 'romance', None,
       'children', 'young-adult', 'poetry', 'mystery', 'comics'],
      dtype=object)

In [22]:
import nltk
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import RegexpTokenizer
import re
import string

import requests

In [23]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [24]:
# Function for removing NonAscii characters
def _removeNonAscii(s):
    return "".join(i for i in s if  ord(i)<128)
# Function for converting into lower case
def make_lower_case(text):
    return text.lower()
# Function for removing stop words
def remove_stop_words(text):
    text = text.split()
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops]
    text = " ".join(text)
    return text
# Function for removing punctuation
def remove_punctuation(text):
    tokenizer = RegexpTokenizer(r'\w+')
    text = tokenizer.tokenize(text)
    text = " ".join(text)
    return text
#Function for removing the html tags
def remove_html(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)
# Applying all the functions in description and storing as a desc
df['desc'] = df['description'].apply(_removeNonAscii)
df['desc'] = df.desc.apply(func = make_lower_case)
df['desc'] = df.desc.apply(func = remove_stop_words)
df['desc'] = df.desc.apply(func=remove_punctuation)
df['desc'] = df.desc.apply(func=remove_html)

df['format'] = df['format'].apply(_removeNonAscii)
df['format'] = df.format.apply(func = make_lower_case)
df['format'] = df.format.apply(func = remove_stop_words)
df['format'] = df.format.apply(func=remove_punctuation)
df['format'] = df.format.apply(func=remove_html)

In [25]:
df

,book_id,title,description,rating,author_id,author_rating,language,format,genre,desc
0,5333265,W.C. Fields: A Life on Film,,4.00,604031,3.98,,paperback,history,
1,1333909,Good Harbor,"Anita Diamant's international bestseller ""The ...",3.23,626222,4.08,,audio cd,fiction,anita diamant s international bestseller the r...
2,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",Omnibus book club edition containing the Ladie...,4.03,10333,3.92,eng,hardcover,fantasy,omnibus book club edition containing ladies ma...
3,6066819,Best Friends Forever,Addie Downs and Valerie Adler were eight when ...,3.49,9212,3.68,eng,hardcover,fiction,addie downs valerie adler eight first met deci...
4,287140,Runic Astrology: Starcraft and Timekeeping in ...,,3.40,149918,3.82,,,non-fiction,
...,...,...,...,...,...,...,...,...,...,...
496,12158822,La acabadora,Siguiendo una costumbre sarda cuyos origenes s...,3.89,117366,2.71,spa,paperback,fiction,siguiendo una costumbre sarda cuyos origenes s...
497,2864845,Akhir Sebuah Mimpi,,3.67,3088831,3.87,,,None,
498,802870,Irvin Cobb at His Best,Compilation of the Kentucky humorist's best co...,4.00,4371642,4.27,,,fiction,compilation kentucky humorist s best comic sto...
499,4608421,"Stone Gods, Wooden Elephants",Lured to an ancient lost Khmer city in the jun...,3.00,281810,4.19,,paperback,None,lured ancient lost khmer city jungle contains ...
500,802872,Draconomicon: The Book of Dragons,The Book of Dragons\nThis title takes a compre...,4.04,8363,4.28,eng,,fantasy,book dragons title takes comprehensive look dr...

In [26]:
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

RECOMMEND BY DESCRIPTION

In [40]:
def recommend_d(title, genre):
    data = df.loc[df['genre'] == genre]  
    data.reset_index(level = 0, inplace = True) 
  
    indices = pd.Series(data.index, index = data['title'])
    tf = TfidfVectorizer(analyzer='word', ngram_range=(2, 2), min_df = 1, stop_words='english')
    tfidf_matrix = tf.fit_transform(data['desc'])
    sg = cosine_similarity(tfidf_matrix, tfidf_matrix)
    idx = indices[title] 
    sig = list(enumerate(sg[idx]))
    sig = sorted(sig, key=lambda x: x[1], reverse=True) 
    sig = sig[1:11]
    movie_indices = [i[0] for i in sig]

    rec_d = data[['title', 'book_id','genre']].iloc[movie_indices]
    return rec_d

In [41]:
recommend_d('Best Friends Forever','fiction')

                                        title   book_id    genre
19                            I'm with Stupid   7075301  fiction
0                                 Good Harbor   1333909  fiction
2                       The Wanting of Levine    378460  fiction
3   Crowner Royal (Crowner John Mystery, #13)   6066814  fiction
4                 The Bonfire of the Vanities     89373  fiction
5                           Penny from Heaven     89377  fiction
6                            Glimmering Light  21401188  fiction
7                                 Silken Eyes   2008911  fiction
8                       Buenos días, tristeza   2008910  fiction
9                           The Tommyknockers   7203847  fiction

In [42]:
recommend_d('Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)','comics')

                                                title   book_id   genre
0                               The Switchblade Mamma  25742454  comics
1                Faminelands: The Carp's Eye (Book 1)  13598465  comics
2                  Washington B.C (Ben 10 Comic Book)  12413392  comics
4   Bounty Hunter 4/3: My Life in Combat from Mari...  35452242  comics
5                           Superman Archives, Vol. 2    707611  comics
6                             A.I. Revolution, Vol. 1   2250580  comics
7                               War Stories, Volume 3  27036536  comics
8                                  Crossed, Volume 15  27036537  comics
9   Crossed + One Hundred, Volume 2 (Crossed +100 #2)  27036538  comics
10                              War Stories, Volume 4  27036539  comics

RECOMMEND BY TITLE

In [43]:
def recommend_t(title, genre):

    data = df.loc[df['genre'] == genre]  
    data.reset_index(level = 0, inplace = True) 
    indices = pd.Series(data.index, index = data['title'])
    
    tf = TfidfVectorizer(analyzer='word', ngram_range=(2, 2), min_df = 1, stop_words='english')
    tfidf_matrix = tf.fit_transform(data['title'])
    
    sg = cosine_similarity(tfidf_matrix, tfidf_matrix)
    
    idx = indices[title]
    sig = list(enumerate(sg[idx]))
    sig = sorted(sig, key=lambda x: x[1], reverse=True)
    sig = sig[1:11]
    movie_indices = [i[0] for i in sig]

    rec_t = data[['title', 'book_id','genre']].iloc[movie_indices]
    return rec_t

In [44]:
recommend_t('Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)','comics')

                                                title   book_id   genre
0                               The Switchblade Mamma  25742454  comics
1                Faminelands: The Carp's Eye (Book 1)  13598465  comics
2                  Washington B.C (Ben 10 Comic Book)  12413392  comics
4   Bounty Hunter 4/3: My Life in Combat from Mari...  35452242  comics
5                           Superman Archives, Vol. 2    707611  comics
6                             A.I. Revolution, Vol. 1   2250580  comics
7                               War Stories, Volume 3  27036536  comics
8                                  Crossed, Volume 15  27036537  comics
9   Crossed + One Hundred, Volume 2 (Crossed +100 #2)  27036538  comics
10                              War Stories, Volume 4  27036539  comics

In [45]:
recommend_t('Irvin Cobb at His Best','fiction')

                                       title   book_id    genre
0                                Good Harbor   1333909  fiction
1                       Best Friends Forever   6066819  fiction
2                      The Wanting of Levine    378460  fiction
3  Crowner Royal (Crowner John Mystery, #13)   6066814  fiction
4                The Bonfire of the Vanities     89373  fiction
5                          Penny from Heaven     89377  fiction
6                           Glimmering Light  21401188  fiction
7                                Silken Eyes   2008911  fiction
8                      Buenos días, tristeza   2008910  fiction
9                          The Tommyknockers   7203847  fiction

In [46]:
recommend_t('Best Friends Forever','fiction')

                                        title   book_id    genre
0                                 Good Harbor   1333909  fiction
2                       The Wanting of Levine    378460  fiction
3   Crowner Royal (Crowner John Mystery, #13)   6066814  fiction
4                 The Bonfire of the Vanities     89373  fiction
5                           Penny from Heaven     89377  fiction
6                            Glimmering Light  21401188  fiction
7                                 Silken Eyes   2008911  fiction
8                       Buenos días, tristeza   2008910  fiction
9                           The Tommyknockers   7203847  fiction
10                                 Holding On  12135833  fiction

FINAL RECOMMENDATON BASED ON TITLE AND DESCRIPTION

In [47]:
def recommend(title,genre):
  l=[]
  rec_t=recommend_t(title,genre)
  rec_d=recommend_d(title,genre)
  for i in rec_t['title']:
    for j in rec_d['title']:
      if i == j:
        l.append(j)
  return l

In [48]:
recommend('Best Friends Forever','fiction')

['Good Harbor',
 'The Wanting of Levine',
 'Crowner Royal (Crowner John Mystery, #13)',
 'The Bonfire of the Vanities',
 'Penny from Heaven',
 'Glimmering Light',
 'Silken Eyes',
 'Buenos días, tristeza',
 'The Tommyknockers']

In [49]:
recommend('Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)','comics')

['The Switchblade Mamma',
 "Faminelands: The Carp's Eye (Book 1)",
 'Washington B.C (Ben 10 Comic Book)',
 'Bounty Hunter 4/3: My Life in Combat from Marine Scout Sniper to MARSOC',
 'Superman Archives, Vol. 2',
 'A.I. Revolution, Vol. 1',
 'War Stories, Volume 3',
 'Crossed, Volume 15',
 'Crossed + One Hundred, Volume 2 (Crossed +100 #2)',
 'War Stories, Volume 4']

In [50]:
recommend('W.C. Fields: A Life on Film','history')

['The Aeneid for Boys and Girls',
 'سیر حکمت در اروپا',
 'Eighteenth-Century Europe: Tradition and Progress, 1715-1789',
 'World History',
 'An Historical Introduction to American Education',
 'Siebentürmeviertel',
 'Piercing the Reich',
 "CARRIE'S MAIL ORDER HUSBAND",
 'خطة الهجوم',
 'Princess of Fire (Fire, #1)']