<a href="https://colab.research.google.com/github/vishvadesai9/Book_Recommendation_System/blob/main/book_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (3.6.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.41.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (3.0.4)

In [ ]:
!gdown 'https://drive.google.com/uc?id=1TLmSvzHvTLLLMjMoQdkx6pBWon-4bli7'

Downloading...
From: https://drive.google.com/uc?id=1TLmSvzHvTLLLMjMoQdkx6pBWon-4bli7
To: /content/goodreads_book_works.json.gz
74.9MB [00:00, 81.6MB/s]

In [ ]:
!gdown 'https://drive.google.com/uc?id=19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC'

Downloading...
From: https://drive.google.com/uc?id=19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC
To: /content/goodreads_book_authors.json.gz
17.9MB [00:00, 49.1MB/s]

In [ ]:
!gdown 'https://drive.google.com/uc?id=1op8D4e5BaxU2JcPUgxM3ZqrodajryFBb'

Downloading...
From: https://drive.google.com/uc?id=1op8D4e5BaxU2JcPUgxM3ZqrodajryFBb
To: /content/goodreads_book_series.json.gz
28.3MB [00:00, 68.0MB/s]

In [ ]:
!gdown 'https://drive.google.com/uc?id=1LXpK1UfqtP89H1tYy0pBGHjYk8IhigUK'

Downloading...
From: https://drive.google.com/uc?id=1LXpK1UfqtP89H1tYy0pBGHjYk8IhigUK
To: /content/goodreads_books.json.gz
2.08GB [00:19, 105MB/s]

In [ ]:
!gdown 'https://drive.google.com/uc?id=1CHTAaNwyzvbi1TR08MJrJ03BxA266Yxr'

Downloading...
From: https://drive.google.com/uc?id=1CHTAaNwyzvbi1TR08MJrJ03BxA266Yxr
To: /content/book_id_map.csv
37.8MB [00:00, 91.3MB/s]

In [ ]:
!gdown 'https://drive.google.com/uc?id=15ax-h0Oi_Oyee8gY_aAQN6odoijmiz6Q'

Downloading...
From: https://drive.google.com/uc?id=15ax-h0Oi_Oyee8gY_aAQN6odoijmiz6Q
To: /content/user_id_map.csv
34.9MB [00:00, 95.9MB/s]

In [ ]:
!gdown 'https://drive.google.com/uc?id=1zmylV7XW2dfQVCLeg1LbllfQtHD2KUon'

Downloading...
From: https://drive.google.com/uc?id=1zmylV7XW2dfQVCLeg1LbllfQtHD2KUon
To: /content/goodreads_interactions.csv
4.32GB [01:05, 66.1MB/s]

In [ ]:
!gdown 'https://drive.google.com/uc?id=1ah0_KpUterVi-AHxJ03iKD6O0NfbK0md'

Downloading...
From: https://drive.google.com/uc?id=1ah0_KpUterVi-AHxJ03iKD6O0NfbK0md
To: /content/goodreads_book_genres_initial.json.gz
24.3MB [00:00, 36.4MB/s]

In [ ]:
!gdown 'https://drive.google.com/uc?id=1pQnXa7DWLdeUpvUFsKusYzwbA5CAAZx7'

Downloading...
From: https://drive.google.com/uc?id=1pQnXa7DWLdeUpvUFsKusYzwbA5CAAZx7
To: /content/goodreads_reviews_dedup.json.gz
5.34GB [01:14, 71.6MB/s]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def load_data(file_name, head = 500):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            if (head is not None) and (count > head):
                break
    return data

LOAD BOOKS DATA

In [1]:
import gzip
import json
import re
import os
import sys
books = load_data(os.path.join('goodreads_books.json.gz'))
books

NameError: ignored

EXTRACT FEATURES FROM BOOKS DATA

In [ ]:
rating=[]
book_id=[]
title=[]
pub_year=[]
description=[]
author_id=[]
format= []
country = []
e_book =[]
lang=[]
publisher = []
for i in books:
  for j in i:
    if j == 'average_rating':
      rating.append(float(i[j]))
    if j == 'book_id':
      book_id.append(int(i[j]))
    if j == 'description':
      description.append(i[j])
    if j == 'title':
      title.append(i[j])
    if j == 'format':
      format.append(i[j])
    if j == 'is_ebook':
      e_book.append(i[j])
    if j == 'language_code':
      lang.append(i[j])
    if j == 'publisher':
      publisher.append(i[j])
    if j == 'authors':
      for k in i[j]:
        for m in k:
          if m == 'author_id':
            author_id.append(int(k[m]))

LOAD AUTHORS DATA

In [ ]:
authors = load_data(os.path.join('goodreads_book_authors.json.gz'))
authors

EXTARCT AUTHOR FEATURES

In [ ]:
author_rating=[]
for i in authors:
  for j in i:
    if j == 'average_rating':
      author_rating.append(float(i[j]))
len(author_rating)

501

In [ ]:
author_rating=[]
author_name=[]
for i in authors:
  for j in i:
    if j == 'average_rating':
      author_rating.append(float(i[j]))
    if j == 'name':
      author_name.append(i[j])
    if j == 'description':
      description.append(i[j])
    if j == 'title':
      title.append(i[j])

CREATE DATAFRAME

In [ ]:
df = pd.DataFrame(list(zip(book_id,title,description,rating,author_id,author_rating,lang,format)),columns=['book_id','title','description','rating','author_id','author_rating','language','format'])
df

      book_id  ...     format
0     5333265  ...  Paperback
1     1333909  ...   Audio CD
2     7327624  ...  Hardcover
3     6066819  ...  Hardcover
4      287140  ...
..        ...  ...        ...
496  12158822  ...  Paperback
497   2864845  ...
498    802870  ...
499   4608421  ...  Paperback
500    802872  ...

[501 rows x 8 columns]

EXTRACT GENRE

In [ ]:
genre = load_data(os.path.join('goodreads_book_genres_initial.json.gz'))
genre

In [ ]:
d=dict()

df['genre']=""
def custom(id):
  for i in genre:
    for j in i['genres']: 
      if int(i['book_id']) == id:
        return j.split(',')[0]
    
    
        
df['genre'] = df.apply(lambda x: custom(x['book_id']),axis=1)

df

      book_id  ...        genre
0     5333265  ...      history
1     1333909  ...      fiction
2     7327624  ...      fantasy
3     6066819  ...      fiction
4      287140  ...  non-fiction
..        ...  ...          ...
496  12158822  ...      fiction
497   2864845  ...         None
498    802870  ...      fiction
499   4608421  ...         None
500    802872  ...      fantasy

[501 rows x 9 columns]

In [ ]:
df['genre'].unique()

array(['history', 'fiction', 'fantasy', 'non-fiction', 'romance', None,
       'children', 'young-adult', 'poetry', 'mystery', 'comics'],
      dtype=object)

In [ ]:
import nltk
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import RegexpTokenizer
import re
import string

import requests

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
# Function for removing NonAscii characters
def _removeNonAscii(s):
    return "".join(i for i in s if  ord(i)<128)
# Function for converting into lower case
def make_lower_case(text):
    return text.lower()
# Function for removing stop words
def remove_stop_words(text):
    text = text.split()
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops]
    text = " ".join(text)
    return text
# Function for removing punctuation
def remove_punctuation(text):
    tokenizer = RegexpTokenizer(r'\w+')
    text = tokenizer.tokenize(text)
    text = " ".join(text)
    return text
#Function for removing the html tags
def remove_html(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)
# Applying all the functions in description and storing as a desc
df['desc'] = df['description'].apply(_removeNonAscii)
df['desc'] = df.desc.apply(func = make_lower_case)
df['desc'] = df.desc.apply(func = remove_stop_words)
df['desc'] = df.desc.apply(func=remove_punctuation)
df['desc'] = df.desc.apply(func=remove_html)

df['format'] = df['format'].apply(_removeNonAscii)
df['format'] = df.format.apply(func = make_lower_case)
df['format'] = df.format.apply(func = remove_stop_words)
df['format'] = df.format.apply(func=remove_punctuation)
df['format'] = df.format.apply(func=remove_html)

In [ ]:
df

      book_id  ...                                               desc
0     5333265  ...
1     1333909  ...  anita diamant s international bestseller the r...
2     7327624  ...  omnibus book club edition containing ladies ma...
3     6066819  ...  addie downs valerie adler eight first met deci...
4      287140  ...
..        ...  ...                                                ...
496  12158822  ...  siguiendo una costumbre sarda cuyos origenes s...
497   2864845  ...
498    802870  ...  compilation kentucky humorist s best comic sto...
499   4608421  ...  lured ancient lost khmer city jungle contains ...
500    802872  ...  book dragons title takes comprehensive look dr...

[501 rows x 10 columns]

In [ ]:
df

      book_id  ...                                               desc
0     5333265  ...
1     1333909  ...  anita diamant s international bestseller the r...
2     7327624  ...  omnibus book club edition containing ladies ma...
3     6066819  ...  addie downs valerie adler eight first met deci...
4      287140  ...
..        ...  ...                                                ...
496  12158822  ...  siguiendo una costumbre sarda cuyos origenes s...
497   2864845  ...
498    802870  ...  compilation kentucky humorist s best comic sto...
499   4608421  ...  lured ancient lost khmer city jungle contains ...
500    802872  ...  book dragons title takes comprehensive look dr...

[501 rows x 10 columns]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

RECOMMEND BY DESCRIPTION

In [ ]:
def recommend_d(title, genre):
    data = df.loc[df['genre'] == genre]  
    data.reset_index(level = 0, inplace = True) 
  
    indices = pd.Series(data.index, index = data['title'])
    tf = TfidfVectorizer(analyzer='word', ngram_range=(2, 2), min_df = 1, stop_words='english')
    tfidf_matrix = tf.fit_transform(data['desc'])
    sg = cosine_similarity(tfidf_matrix, tfidf_matrix)
    idx = indices[title] 
    sig = list(enumerate(sg[idx]))
    sig = sorted(sig, key=lambda x: x[1], reverse=True) 
    sig = sig[1:11]
    movie_indices = [i[0] for i in sig]

    rec_d = data[['title', 'book_id','genre']].iloc[movie_indices]
    return rec_d

In [ ]:
recommend_d('Best Friends Forever','fiction')

                                        title   book_id    genre
19                            I'm with Stupid   7075301  fiction
0                                 Good Harbor   1333909  fiction
2                       The Wanting of Levine    378460  fiction
3   Crowner Royal (Crowner John Mystery, #13)   6066814  fiction
4                 The Bonfire of the Vanities     89373  fiction
5                           Penny from Heaven     89377  fiction
6                            Glimmering Light  21401188  fiction
7                                 Silken Eyes   2008911  fiction
8                       Buenos días, tristeza   2008910  fiction
9                           The Tommyknockers   7203847  fiction

In [ ]:
recommend_d('Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)','comics')

                                                title   book_id   genre
0                               The Switchblade Mamma  25742454  comics
1                Faminelands: The Carp's Eye (Book 1)  13598465  comics
2                  Washington B.C (Ben 10 Comic Book)  12413392  comics
4   Bounty Hunter 4/3: My Life in Combat from Mari...  35452242  comics
5                           Superman Archives, Vol. 2    707611  comics
6                             A.I. Revolution, Vol. 1   2250580  comics
7                               War Stories, Volume 3  27036536  comics
8                                  Crossed, Volume 15  27036537  comics
9   Crossed + One Hundred, Volume 2 (Crossed +100 #2)  27036538  comics
10                              War Stories, Volume 4  27036539  comics

RECOMMEND BY TITLE

In [ ]:
def recommend_t(title, genre):

    data = df.loc[df['genre'] == genre]  
    data.reset_index(level = 0, inplace = True) 
    indices = pd.Series(data.index, index = data['title'])
    
    tf = TfidfVectorizer(analyzer='word', ngram_range=(2, 2), min_df = 1, stop_words='english')
    tfidf_matrix = tf.fit_transform(data['title'])
    
    sg = cosine_similarity(tfidf_matrix, tfidf_matrix)
    
    idx = indices[title]
    sig = list(enumerate(sg[idx]))
    sig = sorted(sig, key=lambda x: x[1], reverse=True)
    sig = sig[1:11]
    movie_indices = [i[0] for i in sig]

    rec_t = data[['title', 'book_id','genre']].iloc[movie_indices]
    return rec_t

In [ ]:
recommend_t('Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)','comics')

                                                title   book_id   genre
0                               The Switchblade Mamma  25742454  comics
1                Faminelands: The Carp's Eye (Book 1)  13598465  comics
2                  Washington B.C (Ben 10 Comic Book)  12413392  comics
4   Bounty Hunter 4/3: My Life in Combat from Mari...  35452242  comics
5                           Superman Archives, Vol. 2    707611  comics
6                             A.I. Revolution, Vol. 1   2250580  comics
7                               War Stories, Volume 3  27036536  comics
8                                  Crossed, Volume 15  27036537  comics
9   Crossed + One Hundred, Volume 2 (Crossed +100 #2)  27036538  comics
10                              War Stories, Volume 4  27036539  comics

In [ ]:
recommend_t('Irvin Cobb at His Best','fiction')

                                       title   book_id    genre
0                                Good Harbor   1333909  fiction
1                       Best Friends Forever   6066819  fiction
2                      The Wanting of Levine    378460  fiction
3  Crowner Royal (Crowner John Mystery, #13)   6066814  fiction
4                The Bonfire of the Vanities     89373  fiction
5                          Penny from Heaven     89377  fiction
6                           Glimmering Light  21401188  fiction
7                                Silken Eyes   2008911  fiction
8                      Buenos días, tristeza   2008910  fiction
9                          The Tommyknockers   7203847  fiction

In [ ]:
recommend_t('Best Friends Forever','fiction')

                                        title   book_id    genre
0                                 Good Harbor   1333909  fiction
2                       The Wanting of Levine    378460  fiction
3   Crowner Royal (Crowner John Mystery, #13)   6066814  fiction
4                 The Bonfire of the Vanities     89373  fiction
5                           Penny from Heaven     89377  fiction
6                            Glimmering Light  21401188  fiction
7                                 Silken Eyes   2008911  fiction
8                       Buenos días, tristeza   2008910  fiction
9                           The Tommyknockers   7203847  fiction
10                                 Holding On  12135833  fiction

FINAL RECOMMENDATON BASED ON TITLE AND DESCRIPTION

In [ ]:
def recommend(title,genre):
  l=[]
  rec_t=recommend_t(title,genre)
  rec_d=recommend_d(title,genre)
  for i in rec_t['title']:
    for j in rec_d['title']:
      if i == j:
        l.append(j)
  return l

In [ ]:
recommend('Best Friends Forever','fiction')

['Good Harbor',
 'The Wanting of Levine',
 'Crowner Royal (Crowner John Mystery, #13)',
 'The Bonfire of the Vanities',
 'Penny from Heaven',
 'Glimmering Light',
 'Silken Eyes',
 'Buenos días, tristeza',
 'The Tommyknockers']

In [ ]:
recommend('Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)','comics')

['The Switchblade Mamma',
 "Faminelands: The Carp's Eye (Book 1)",
 'Washington B.C (Ben 10 Comic Book)',
 'Bounty Hunter 4/3: My Life in Combat from Marine Scout Sniper to MARSOC',
 'Superman Archives, Vol. 2',
 'A.I. Revolution, Vol. 1',
 'War Stories, Volume 3',
 'Crossed, Volume 15',
 'Crossed + One Hundred, Volume 2 (Crossed +100 #2)',
 'War Stories, Volume 4']

In [ ]:
recommend('W.C. Fields: A Life on Film','history')

['The Aeneid for Boys and Girls',
 'سیر حکمت در اروپا',
 'Eighteenth-Century Europe: Tradition and Progress, 1715-1789',
 'World History',
 'An Historical Introduction to American Education',
 'Siebentürmeviertel',
 'Piercing the Reich',
 "CARRIE'S MAIL ORDER HUSBAND",
 'خطة الهجوم',
 'Princess of Fire (Fire, #1)']